{{> head }}
{{> navbar }}

<div class ="row">

    <div class="col-8">
        <h1>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem corporis animi, reiciendis recusandae saepe deleniti doloremque voluptates consectetur nobis eos accusantium a, maxime, officiis architecto modi eligendi sunt. Laboriosam, consequatur!</p>
        </h1>
    </div>

    <div class="col-4">
        <img src="assets/img/logo.svg" alt="node logo" class= "img-thumbnail">
    </div>
    
</div>
{{> footer }}